<H1>Login!</H1>
<div class = "container">
<!-- angular attribute -->
    <div class = "alert alert-warning" *ngIf = 'invalidLogin'> {{errorMessage}}</div>

    <div>
        <!-- data binding
            directive: [(ngModel)]="username", take the input otherwise default model
            value = "{{password}}", would take the default value-->
        User Name : <input type="text" name="username" [(ngModel)]="username">
        Password: <input type = "password" name = "password" [(ngModel)]="password">

        <!-- event binding -->
        <button (click) = handleLogin() class = "btn btn-success">Login</button>
    </div>
</div>
